
\.idea/
node_modules/
dist/
package-lock.json
yarn.lock

coverage/
mochawesome-report/



dist_bundle/bundle_terminal\.js

dist_bundle/terminal-menu-bundle\.js

dist_bundle/Node-WebDollar-bundle\.js

dist_bundle/bundle\.js

dist_bundle/bundle_dist\.js

dist_bundle/browser/bundle_browser\.js

dist_bundle/browser/bundle_terminal\.js

dist_bundle/browser/browser-bundle\.js

MyDatabase/

defaultDB/

wallet\.bin

dist_bundle/terminal-bundle\.js

dist_bundle/terminal-mocha-bundle\.js

dist_bundle/browser/mocha/browser-mocha-bundle\.js

dist_bundle/terminal-bundle\.js\.map

dist_bundle/terminal-mocha-bundle\.js\.map

dist_bundle/terminal_worker.js

addresses\.bin

dist_bundle/WebDollar-Protocol-bundle\.js\.map

User-Interface-WebDollar/dist_bundle/WebDollar-Protocol-bundle\.js

User-Interface-WebDollar/dist_bundle/WebDollar-Protocol-bundle\.js\.map

blockchainDB/

defaultDB/

poolDB/

blockchainDB2/

blockchainDB3/

walletDB/

transactionsDB/

certificates/ca_bundle.crt
certificates/certificate.crt
certificates/private.key

.with.json
